/* Website Item Base Styles */
.docker-item {
  display: flex;
  align-items: center;/* 垂直居中 */
  flex-direction: row;/* 修改这里的值让内部元素以列row 方式排列 */
  align-content: space-around;/* 如果需要垂直方向上的分布 */
  justify-content: center;/* 修改这里的值让内部元素居中 */
  /*padding: var(--spacing-inset-md); /* 减小水平方向的内边距 */
  padding-right: var(--spacing-inset-md);
  gap: var(--spacing-inline-md);/* 可以改变a和img的距离 */
  width: var(--size-website-item-min-width); /* 使用 CSS 变量设置 item 宽度 */
  min-height: 65px; /* 设置一个最小高度 */
}

.docker-item img {
  flex-shrink: 0;
  width: 22px;
  height: 22px;
}

.docker-item a {
  text-decoration: none;
  font-size: var(--font-size-sm);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
[data-layout="alternative"] .docker-item {   
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-inline-xxs); 
  padding: var(--spacing-inset-xs); 
  margin: var(--spacing-stack-xxs);  
  position: relative;
  overflow: hidden;
  min-height: 60px;
  min-width: 60px;
  width: auto;
  height: auto;
  backdrop-filter: none;
  cursor: pointer;
}
[data-layout="alternative"] .docker-item a {
  text-decoration: none;  
  font-weight: var(--font-weight-medium);
  position: relative;
  display: inline-block;
  padding-bottom: var(--spacing-inset-xs);/* 待调整 */
}
.docker-item-header {
    display: flex;
    align-items: center;
    gap: var(--spacing-inline-xs);
    margin-bottom: var(--spacing-stack-xs);
}

.docker-item-title {
    display: flex;
    flex-direction: column;
}

.docker-item-id {
    font-size: var(--font-size-xs);
    color: var(--color-text-secondary);
}

.docker-status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-running); /* Default to success color */
}

.docker-item-body {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.docker-item-stats {
    display: flex;
    gap: var(--spacing-inline-sm);
}

.docker-item-cpu,
.docker-item-memory-receive,
.docker-item-memory-send {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.docker-item-stats-value {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
}

.docker-item-stats-label {
    font-size: var(--font-size-xs);
    color: var(--color-text-secondary);
}