/* Tooltip Base Styles - 工具提示基础样式 */
/*
  定义工具提示 (tooltip) 组件的基础布局和结构样式。
  包括 tooltip 容器的基础 padding、border-radius、max-width 等，不包含主题、颜色或状态相关的样式。
*/
/* Tooltip 容器 */
/* .tooltip, .website-tooltip {
  padding: var(--spacing-inset-xs) var(--spacing-inset-md); 
  border-radius: var(--radius-sm); 
  max-width: 300px; 
  
} */
#tooltip {
  color: var(--text-primary);
  padding: var(--spacing-inset-xs) var(--spacing-inset-md);
  position: absolute;
  z-index: -1;
  white-space: nowrap;
}

/* Website tooltip styles */
.website-tooltip {
  padding: var(--spacing-inset-md);
  border-radius: var(--radius-sm);
  backdrop-filter: var(--glass-blur);
  word-wrap: break-word; /* 允许单词断行 */
  z-index: 1000;
  min-width: var(--size-websitetooltip-min-width);
  opacity: 0;
}
.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.tooltip-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-inline-xs);
}

.tooltip-row {
  display: flex;
  gap: var(--spacing-inline-xs);
  align-items: center;
  font-size: var(--font-size-xs);
  color: var(--text-primary);
}

.tooltip-row strong {
  color: var(--action-primary);
  /* min-width: var(--size-website-item-min-height); */
}
