/* Notification States Styles - 通知组件状态样式 */
/*
  定义通知 (notification) 组件在不同状态下的样式，
  例如 info, error, success 等不同类型的通知样式。
*/
/* Info Notification State - 信息通知状态 */

.notification.success {
  background: var(--success-color);
  color: white;
  border-left: 4px solid var(--notification-border-color-success); /* 成功通知左侧边框颜色，使用 CSS 变量 */
}

.notification.error {
  background: var(--error-color);
  color: white;
  border-left: 4px solid var(--notification-border-color-error); /* 错误通知左侧边框颜色，使用 CSS 变量 */
}

.notification.info {
  background: var(--info-color);
  color: white;
  border-left: 4px solid var(--notification-border-color-info); /* 信息通知左侧边框颜色，使用 CSS 变量 */
}

.notification.warning {
  background: var(--warning-color);
  color: white;
}