/* Website Item Base Styles */
.website-item {
  display: flex;
  align-items: center;/* 垂直居中 */
  flex-direction: row;/* 修改这里的值让内部元素以列row 方式排列 */
  align-content: space-around;/* 如果需要垂直方向上的分布 */
  justify-content: center;/* 修改这里的值让内部元素居中 */
  /*padding: var(--spacing-md); /* 减小水平方向的内边距 */
  padding-right: var(--spacing-md);
  gap: var(--spacing-md);/* 可以改变a和img的距离 */
  width: var(--item-width); /* 使用 CSS 变量设置 item 宽度 */
  min-height: 65px; /* 设置一个最小高度 */
}

.website-item img {
  flex-shrink: 0;
  width: 22px;
  height: 22px;
}

.website-item a {
  text-decoration: none;
  font-size: var(--font-size-sm);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}