/* Search Form States */
.search-form__input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
}
/* Search Expanded State */
.search-form.expanded .search-form__input {
  width: 240px;
  opacity: 1;
  pointer-events: auto;
  padding: 0 var(--spacing-xl) 0 var(--spacing-md);
  margin-right: var(--spacing-sm);/* 让search-input展开状态的右边缘与search-icon的左边缘，稍微保留一点距离 */
  box-shadow: var(--shadow-md);
}

.search-form.expanded .search-form__icon {
  box-shadow: var(--shadow-md);
}