/* Button States Styles - 按钮状态样式 (实际为 Action Buttons 组件状态样式) */
/*
  定义按钮 (button) 组件的状态样式，
  实际上主要用于定义 Action Buttons 组件的显示状态样式。
*/
/* Action Buttons Show State - 操作按钮组显示状态 */
.action-buttons.show {
  transform: scale(1) translateY(0); /* 显示状态取消缩放和位移 */
  opacity: 1; /* 显示状态透明度为 1 */
  pointer-events: auto; /* 显示状态允许 pointer 事件 */
}

/* Action Buttons Icon Button Show State - 操作按钮组图标按钮显示状态 */
.action-buttons.show .icon-button {
  transform: scale(1) translateY(0); /* 显示状态取消缩放和位移 */
  opacity: 1; /* 显示状态透明度为 1 */
}

/* Toggle Actions Button Rotation - 切换操作按钮旋转状态 */
.action-buttons.show + .toggle-actions #actions-toggle-button {
  --rotation: 45deg; /* 显示状态切换按钮旋转 45 度 */
}