/* Group Base Styles - 分组组件基础样式 */
/*
  定义分组 (group) 组件的基础布局和结构样式。
   依赖：base/variables.css
  包括分组容器和分组标题的 margin, padding 等，不包含主题、颜色或状态相关的样式。
*/


.docker-group {
  margin-bottom: var(--spacing-stack-xl); /* 设置下外边距 */
}

/* 分组标题 */
.docker-group h2 {
  margin-bottom: var(--spacing-stack-md); /* 设置下外边距 */
  padding-bottom: var(--spacing-stack-xxs); /* 设置下内边距 */
}
[data-layout="alternative"] .docker-group {
  padding: var(--spacing-inset-md);
  position: relative;
  overflow: hidden;
  margin: var(--spacing-stack-xxs);
  /* will-change: transform, opacity; */
  /* text-rendering: optimizeLegibility; */
  
  
}
[data-layout="alternative"] .docker-group h2 {
  margin: 0 0 var(--spacing-stack-md) 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}



.docker-group__title:hover .quickly-item-add-button,
.quickly-item-add-button:hover  {
  display: inline; /* 悬停时显示 */
}
